* {
  text-decoration: none;
}

a {
  color: black;
}

.App {
  text-align: center;
}

.background {
  text-align: center;
  background-image: url("https://miro.medium.com/max/11232/1*0iimJmSKxtysQXfzt_zcqw.jpeg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color:rgb(5, 126, 25);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.login {
  background-color: rgb(82, 218, 123);
  border-radius: 3px;
  /* box-shadow: ; NOT SURE HOW TO DO THAT */
}


